.notFound{
    width: 100%;
    height: 100vh;
    @extend %flex-center;
    &__container{
        &__h1{
            font-size: 6rem;
            color:$green;
        
        }
        &__p{
            margin-top: -1rem;
            font-size: 2.6rem;
        }
    }
}